<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149853387039-jvmpn3uhdkbqn9etka5qvursk3olm9ca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149853387039-jvmpn3uhdkbqn9etka5qvursk3olm9ca</string>
	<key>API_KEY</key>
	<string>AIzaSyC1M-4vZIJhkCiuORCy2IYHFAFFuftftDg</string>
	<key>GCM_SENDER_ID</key>
	<string>149853387039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningDart</string>
	<key>PROJECT_ID</key>
	<string>first-flutter-project-byciro</string>
	<key>STORAGE_BUCKET</key>
	<string>first-flutter-project-byciro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149853387039:ios:dff5d59f78a5c95567982a</string>
</dict>
</plist>